<div class="my-app-items-page">

  <ul class="breadcrumb">
    <li><a routerLink="/articles">Articles</a></li>
  </ul>

  <div *ngIf="!itemsLoaded" style="width: 45%; margin: 10% 20%; ">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="itemsLoaded">
    <mat-card *ngFor="let item of items" class="my-app-items-card">
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle style="color: #0a8080;">
        <span>by {{item.author.firstName}} {{item.author.lastName}} </span>
        <span>on {{item.createdAt | date: 'yyyy-MM-dd' }}</span>
      </mat-card-subtitle>
      <mat-card-content>{{item.payload.substring(0, 399)}} ...</mat-card-content>
    </mat-card>
  </div>
</div>
