<div class="my-app-items-page">
  <h1>Latest articles</h1>

  <div *ngIf="!itemsLoaded">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="itemsLoaded">
    <mat-card *ngFor="let item of items" class="my-app-items-card">
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle style="color: darkblue;">by <span>{{item.author.firstName}} {{item.author.lastName}}</span></mat-card-subtitle>
      <mat-card-content>{{item.payload}}</mat-card-content>
    </mat-card>
  </div>
</div>
