<mat-list role="list">
  <div mat-subheader>The blog</div>
  <mat-list-item role="listitem" routerLink="/home" routerLinkActive="link-active">
    <mat-icon mat-list-icon>home</mat-icon>
    <div>Home</div>
  </mat-list-item>
  <mat-list-item role="listitem" routerLink="/articles" routerLinkActive="link-active">
    <mat-icon mat-list-icon>book</mat-icon>
    <div>Articles</div>
  </mat-list-item>
  <mat-list-item role="listitem" routerLink="/about" routerLinkActive="link-active">
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <div>Who am I ?</div>
  </mat-list-item>
</mat-list>
