.link-active {
  background-color: ghostwhite;
  color: black;
}

.mat-list-item:hover {
  background-color: ghostwhite;
  cursor: pointer;
  color: black;
}

.mat-list .mat-list-item {
  color: black;
}
