.my-app-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: black;
  font-family: Courier, Lato, Roboto, "Helvetica Neue", sans-serif;
}

.my-app-container-side-pane {
  color-rendering: optimizeQuality;
  color: black;
  width: 20%;
  margin: 0;
  background-color: white;
}

.my-app-container-main-content {
  width: 100vw;
  background-color: ghostwhite;
  padding: 10px;
}
